body{
    background-color: rgb(154, 250, 150);
    display: flex;
    font-size: 100px;
    flex-direction: row;
    justify-content: space-between;
}
div{
    border: 1px solid red;
    border-radius: 10px;
}