body{
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Приклад градієнту */
    
}

header{
    color: #e40909;
    font-size: 24px; 
    font-family: Arial, sans-serif; 
}
#header{
    background-color: black;
    
}

